<nav class="navbar navbar-expand-lg fixed-top premium-nav">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= cl_image_tag("colored-logo_hyxyzl",
        class: "brand-logo-img",
        alt: "Mobile Massage London logo") %>
      <span class="ms-2">Mobile Massage London</span>
    <% end %>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
  <span class="toggler-icon top-bar"></span>
  <span class="toggler-icon middle-bar"></span>
  <span class="toggler-icon bottom-bar"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Therapist", root_path(anchor: "therapist"), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Treatments", root_path(anchor: "treatments"), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Reviews", root_path(anchor: "reviews"), class: "nav-link" %>
        </li>
        <li class="nav-item"><%= link_to "FAQ", faq_path, class: "nav-link" %></li>
        <li class="nav-item ms-lg-3">
         <a href="<%= root_path(anchor: 'booking') %>" class="btn btn-dark book-btn">
            Book Now
        </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
